:root {
    font-family: "Fira Sans", "Trebuchet MS", sans-serif;
    color: var(--ink);
    background-color: var(--paper);
}

h1 {
    font-family: "NaN Jaune Maxi", serif;
    color: rgba(187, 0, 170, 0.48);
    color: var(--hdg);
    line-height: 1;
}

strong {
    font-weight: 500;
}

a:link {
    color: #007FFF;
    color: var(--link);
}

a:visited {
    color: #003366;
    color: var(--visited);
}

a:hover,
a:active {
    color: #007FFF;
    color: var(--link);
    background-color: var(--ui-bg);
}
