
.note-detail-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items:  center;
}

.trail {
    margin: 10px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.trail-link {
    position: relative;
    padding: 0 10px 0 5px;

    text-decoration: none;
    line-height: 2;
}

.note-detail {
    margin:  auto;
    max-width: 1280px;
}

.note-text {
    margin: 10px;
    min-width: 220px;
    max-width: 620px;
}

@media (max-width: 640px) {
    .note-detail .loc-img {
        max-width: 100%;
        height: auto;
    }
}

.note-metadata {
    display: block;
    margin: 5px 10px;
    font-size: 13px;
    line-height: 1.25;
}
