.action-bar {
    padding: 0 10px;

    display: flex;
    flex-flow: row wrap;
}

.action-btn {
    padding: 0 10px;
    line-height: 2;

    text-decoration: none;
    border-width: 2px;
    border-style: groove;
}

.series-desc {
    margin: 10px;
}

@media (min-width: 640px) {
    .notes-wrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }
}

.notes-wrapper {
    border-top-width: 1px;
    border-top-style: dotted;
}

.note-list {
    margin: 0;
    padding: 0;
}

@media (min-width: 640px) and (max-width: 1280px) {
    .note-list {
        width: 640px;
    }
}

@media (min-width: 1280px) {
    .note-list {
        width: 640px;
    }
}

.note {
    display: block;
    margin: 0;
    padding: 5px 0 25px;
}

.note + .note {
    border-top-width: 1px;
    border-top-style: dotted;
}

.note-text {
    margin: 5px 10px;
}

.note-tag-list {
    display: block;
    margin: 5px 10px;
    padding: 0;
    font-size: 13px;
    font-weight: 500;
}

.note-tag {
    display: inline-block;
    padding: 0 5px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0.3em;
}

.note-metadata {
    display: block;
    margin: 5px 10px;
    font-size: 13px;
    line-height: 1.25;
}
