.loc-list {
    margin: 10px 0;
    padding: 0;

    font-weight: 400;
}

.loc-item {
    margin: 5px 10px;
    padding: 0;
    list-style-type: none;
    border-width: 1px;
    border-style: solid;
}

.loc {
    min-height: 75px;
    color: inherit;
    text-decoration: inherit;

    display: block;
}

.loc-img {
    float: left;
    margin: 0 4px 0 0;
    padding: 0;
    border: none;
}

.loc-hdg {
    margin: 0 10px;
    padding-top: 10px;
    display: block;
}

.loc-title {
    font-weight: 500;
}

.loc:hover .loc-title,
.loc:active .loc-title {
    text-decoration: underline;
}

.loc-text {
    padding: 5px 10px 10px;
    display: block;
}

.loc-url {
    margin: 5px 10px;
    display: block;

    font-size: 13px;
}
