.loc-list {
    margin: 0 0 10px;
    padding: 0;

    font-weight: 400;
}

.note-text + .loc-list {
    border-width: 1px 0 0 0;
    border-style: solid;
}

.loc-item {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-width: 0 0 1px;
    border-style: solid;
}

.loc {
    color: inherit;
    text-decoration: inherit;
}

.loc-compact {
    height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    flex-flow: row nowrap;
}

@media (min-width: 640px) {
    .loc-hero {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .loc-text {
        min-width: 320px;
    }
}

.loc-img {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
}

.loc-text {
    display: block;
    margin: 10px 0;
    max-width: 640px;
}

.loc-hdg,
.loc-quote {
    margin: 0 10px;
    display: block;
}

.loc-title {
    font-weight: 500;
}

.loc:hover .loc-title,
.loc:active .loc-title {
    text-decoration: underline;
}

.loc-url {
    margin: 5px 10px;
    display: block;

    font-size: 13px;
}
