.env
db.sqlite3
*.pyc
__pycache__
media
*.mo
editor/src/stories/
samples/alleged-article.html
samples/flickr-photo.html
samples/instagram-alphabet.html
samples/mastodon-like-bridgy.html
samples/mastodon-repost-bridgy.html
samples/mastodon.html
samples/mastodon.oembed.json
samples/mastodon2.html
samples/tantek-blog-entry.html
samples/tumblr-page.html
samples/tumblr-photo-page.html
samples/twitter-with-video.html
samples/twitter.html
samples/Webmention.html
samples/webmention.rocks-test-5.html
samples/webmention.rocks-test-2.html
