[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.14"
django-environ = "*"
celery = "==4.4.*"
httpretty = "*"
requests = "*"
"psycopg2" = "==2.8.*"
markdown = "*"
requests-oauthlib = "*"
tblib = "*"

[dev-packages]
tblib = "*"
factory-boy = "*"

[requires]
python_version = "3.8"
