
:root {
    margin: 0;

    font-family: "Fira Sans", "Trebuchet MS", sans-serif;
    font-size: 16px;
    line-height: 1.25;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

.dark {
    color: #FFF;
    background-color: #000;
}

h1 {
    font-weight: 100;
    line-height:  1;
}

@media (max-width: 540px) {
    h1 {
        margin: 1em 10px 0.5em;
        font-size: 2em;
    }
}
@media (min-width: 540px) {
    h1 {
        margin: 7px 10px 0.5em;
        max-width: 6em;
        font-size: 4em;
    }
}

p {
    max-width: 36em;
    margin-left: 10px;
    margin-right: 10px;
}

main {
    flex-grow: 1;
    display: flex;
}

main div * {
    margin-top: 0;
}

main div * + * {
    margin-top: 1.25em;
}

@media (max-width: 540px) {
    main {
        flex-flow: column;
    }
}
@media (min-width: 540px) {
    main {
        flex-flow: row nowrap;
        justify-content: center;
    }

    main div {
        margin-top: 40px;
    }

    h1 {
        flex-shrink: 1;
    }
}

footer {
}

.ftr-links {
    margin: 0;
    padding: 15px 5px;
    display: flex;
    flex-flow: row wrap;
}

.ftr-item {
    display: block;
    margin: 0;
}

.ftr-item a {
    display: block;
    padding: 5px;
}
