html {
    --paper: #FFF;
    --ink: rgba(0, 0, 0, 0.85);
    --muted: rgba(0, 0, 0, 0.6);
    --faint: rgba(0, 0, 0, 0.3);
    --hdg: rgba(187, 0, 170, 0.8);
    --ui: rgba(153, 204, 255, 1);
    --ui2: rgba(153, 204, 255, 0.8);
    --ui-dark: rgb(0, 127, 255);
    --ui-bg: rgba(153, 204, 255, 0.25);
    --ui-bg2: rgba(187, 0, 170, 0.03);
    --hl-paper: rgba(255, 238, 68, 0.10);
    --link: #007FFF;
    --visited: #004080;

    font-family: "Fira Sans", Helvetica Neue, Arial, Helvetica, sans-serif;

    color: rgba(0, 0, 0, 0.85);
    color: var(--ink);
    background-color: #FFF;
    background-color: var(--paper);
}

@media (prefers-color-scheme: dark) {
    html {
        --paper: #1f001c;
        --ink: rgba(255, 255, 255, 0.9);
        --muted: rgba(255, 255, 255, 0.4);
        --faint: rgba(255, 255, 255, 0.2);
        --hdg: #AB0;
        --ui: #4da6ff;
        --ui2: #007fff;
        --ui-dark: rgb(0, 127, 255);
        --ui-bg: rgba(153, 204, 255, 0.25);
        --ui-bg2: rgba(153, 204, 255, 0.1);
        --hl-paper: rgba(255, 238, 68, 0.10);
        --link: rgba(204, 229, 255, 0.84);
        --visited: rgba(204, 229, 255, 0.84);
    }
}


h1 {
    font-family: "Abril Fatface", serif;
    color: rgba(187, 0, 170, 0.48);
    color: var(--hdg);
}

form {
    background-color: #F7F7F7;
    background-color: var(--ui-bg);
}

label {
    color: rgba(0, 0, 0, 0.5);
    color: var(--muted);
}

input[type=text],
input[type=url],
input[type=password],
textarea {
    color: var(--ink);
    background-color: var(--paper);
    border-style: inset;
    border-color: #DDD;
    border-color: var(--ui-bg);
}

.helptext {
    color: rgba(0, 0, 0, 0.5);
    color: var(--muted);
}

/* Note lists */

.form-action,
.action-btn {
    color: rgba(0, 0, 0, 0.85);
    color: var(--ink);
    background-color: rgba(153, 204, 255, 0.8);
    background-color: var(--ui2);
    border-color: rgba(153, 204, 255, 0.8);
    border-color: var(--ui2);
    border-radius: 4px;
}

.action-btn:hover,
.action-btm:active {
    background-color: var(--ui);
}

.series-desc {
    color: rgba(0, 0. 0, 0.7);
    color: var(--muted);
}

.notes-wrapper,
.note {
    border-top-color: rgba(0, 0, 0, 0.3);
    border-top-color: var(--faint);
}

.note-unpublished {
    background-color: rgba(255, 240, 53, 0.10);
    background-color: var(--hl-paper);
}

/* Subject list */

.loc {
    background-color: rgba(153, 204, 255, 0.1);
    background-color: var(--ui-bg2);
}

.loc-item {
    border-color: rgba(0, 0, 0, 0.3);
    border-color: var(--faint);
}

.loc:hover,
.loc:active {
    background-color: rgba(153, 204, 255, 0.25);
    background-color: var(--ui-bg);
}

/* Note detail */

.trail-link {
    color: rgba(0, 0, 0, 0.6);
    color: var(--muted);
    background-color: #DDD;
    background-color: var(--ui2);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.trail-link:hover,
.trail-link:active {
    color: var(--ink);
    background-color: var(--ui);
}

.trail-link:before {
    content: "<";
    position: absolute;
    right: 100%;
    width: 0;
    height: 0;
    overflow: hidden;
    border-top: 1em solid transparent;
    border-right: 0.5em solid;
    border-right-color: #DDD;
    border-right-color: var(--ui2);
    border-bottom: 1em solid transparent;
}

.trail-link:hover:before,
.trail-link:before:active {
    border-right-color: var(--ui);
}

.note-metadata {
    color: rgba(0, 0, 0, 0.5);
    color: var(--muted);
}

.note-metadata a:link {
    color: #007FFF;
    color: var(--link);
}

.note-metadata a:visited {
    color: #003366;
    color: var(--visited);
}

.note-metadata a:hover,
.note-metadata a:visited {
    background-color: var(--ui-bg);
}
