{% load tag_filters %}

            {% if note.tags %}
            <ul class="tag-list">
                {% for tag in note.tags.all %}
                <li class="tag">
                    {% if series %}
                    <a class="tag-link" href="{% url 'notes:list' series_name=series.name tags=tag_filter|with_included:tag %}">{{ tag.label }}</a>
                    {% else %}
                    <a class="tag-link" href="{% url 'notes:index' tags=tag_filter|with_included:tag %}">{{ tag.label }}</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
