<!DOCTYPE HTML>
{% load static %}
<html lang="en">
    <head>
        <meta charset=UTF-8>
        <title>{% block title %}Notes{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            {% include 'notes/inline-styles/base.css' %}
        </style>
        {% block styles %}{% endblock %}
        <link rel=stylesheet href="{% static 'notes/notes.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Fira+Sans:400,500" rel="stylesheet">
    </head>
    <body>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% block content %}
        {% endblock %}
    </body>
</html>

