{% extends 'notes/base.html' %}
{% load static %}

{% block title %}Notes{% endblock %}

{% block styles %}
        <style>
            {% include 'notes/inline-styles/note_list.css' %}
        </style>
{% endblock %}

{% block content %}
        <header class="note-list-header">
            <h1>Notes</h1>
            <div class="action-bar">
                {% for series in user.series_set.all %}
                    <a href="{% url 'notes:create' series_name=series.name %}" class="action-btn">Create in {{ series.title }}</a>
                {% endfor %}
            </div>
        </header>

        <ul class="note-list">
            {% for note in note_list %}
                {% include 'notes/parts/note_item.html' %}
            {% endfor %}
        </ul>

{% endblock %}
