{% extends 'notes/base.html' %}

{% block title %}{{ series.title }}{% endblock %}

{% block styles %}
        <style>
            {% include 'notes/inline-styles/note_list.css' %}
            {% include 'notes/inline-styles/subject_list.css' %}
        </style>
{% endblock %}

{% block content %}
        <header class="note-list-header">
            <h1>{{ series.title }}</h1>
            {% if is_editor %}
                <div class="action-bar">
                    <a href="{% url 'notes:create' series_name=series.name %}" class="action-btn">Create</a>
                </div>
            {% endif %}
        </header>

        {% if series.desc %}
            <p class="series-desc">{{ series.desc }}</p>
        {% endif %}

        <ul class="note-list">
            {% for note in note_list %}
                {% include 'notes/parts/note_item.html' %}
            {% endfor %}
        </ul>

{% endblock %}
