

.action-bar {
    padding: 0 10px;

    display: flex;
    flex-flow: row wrap;
}

.action-btn {
    padding: 0 10px;
    line-height: 2;

    text-decoration: none;
    color: rgba(0, 0, 0, 0.85);
    background-color: #EEE;
    border: 2px groove #EEE;
    border-radius: 4px;
}

.series-desc {
    margin: 10px;

    color: rgba(0, 0. 0, 0.7);
}

.note-list {
    margin: 0;
    padding: 0;
}

.note {
    margin: 0;
    padding: 5px 0;
    border-top: 1px dotted rgba(0, 0, 0, 0.3);
}

.note-text {
    margin: 5px 10px;
}

.note-metadata {
    margin: 5px 10px;
    font-size: 13px;
    line-height: 1.25;
    color: rgba(0, 0, 0, 0.5);
}

.loc-list {
    margin: 10px 0;
    padding: 0;
}

.loc-item {
    margin: 5px 10px;
    padding: 0;
    list-style-type: none;
    border: 1px solid #999;
    border-radius: 4px;
}

.loc {
    color: inherit;
    text-decoration: inherit;

    display: block;
}

.loc:hover,
.loc:active {
    background-color: rgba(0, 0, 0, 0.05);
}

.loc-hdg {
    padding: 10px 10px 0;
    margin-bottom: 5px;
    display: block;
}

.loc-title {
    font-weight: 600;
}

.loc:hover .loc-title,
.loc:active .loc-title {
    text-decoration: underline;
}

.loc-text {
    margin: 5px 10px 0;
    padding-bottom: 10px;
    display: block;
}
