

.action-bar {
    padding: 0 10px;

    display: flex;
    flex-flow: row wrap;
}

.action-btn {
    padding: 0 10px;
    line-height: 2;

    text-decoration: none;
    color: rgba(0, 0, 0, 0.85);
    background-color: #EEE;
    border: 2px groove #EEE;
    border-radius: 4px;
}

.series-desc {
    margin: 10px;

    color: rgba(0, 0. 0, 0.7);
}

.note-list {
    margin: 0;
    padding: 0;
}

.note {
    margin: 0;
    padding: 5px 0;
    border-top: 1px dotted rgba(0, 0, 0, 0.3);
}

.note-text {
    margin: 5px 10px;
}

.note-metadata {
    margin: 5px 10px;
    font-size: 13px;
    line-height: 1.25;
    color: rgba(0, 0, 0, 0.5);
}
