{% extends 'notes/base.html' %}

{% block title %}#{{ note.pk }} – {{ series.title }}{% endblock %}

{% block styles %}
        <style>
            {% include 'notes/inline-styles/note_detail.css' %}
            {% include 'notes/inline-styles/subject_list.css' %}
        </style>
{% endblock %}

{% block content %}
        <header class="note-detail-header">
            <nav class="trail">
                <a class="trail-link trail-series-link" href="{% url 'notes:list' series_name=series.name %}">{{ series.title }}</a>
            </nav>
            <h1>{{ note.id }}</h1>
        </header>

        <article class="h-entry note-detail">
            <p class="e-content p-name note-text">{{ note.text }}</p>
            {% include 'notes/parts/note_subject_list.html' %}
            <small class="note-metadata">
                {% include 'notes/parts/note_metadata.html' %}
            </small>
        </article>

{% endblock %}
