
body {
    display: grid;
    grid-template-rows: 1fr auto;
}

@media (min-width: 640px) {
    main {
        margin:  auto;
        width: 620px;
    }
}

p {
    margin: 10px;
}

form {
    padding: 10px 0;
}

.form-item-list {
    margin: 0;
    padding: 0;
}

.form-item-list li {
    padding: 5px 10px;
    list-style-type: none;
    display: flex;
    flex-flow: column nowrap;
}

label {
    margin: 0 0 5px;
}

input[type=text],
input[type=url],
input[type=password],
textarea {
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 5px;

    font-size: 1rem;
    border-width: 1px;
}

.helptext {
    margin: 5px 0 0;

    font-size: 13px;
}

.form-action-bar {
    margin: 5px 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
}

.form-action {
    box-sizing: border-box;  /* Cannot unset this on some browsers */
    padding: 0.4em 10px;

    font-size: 1rem;
    line-height: normal;  /* Cannot unset this on some browsers */
    border-width: 1px;
    border-style: outset;
}

.form-action + .form-action,
.form-action + .link
 {
    margin-left: 10px;
}
