

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 10px;
    height: 1.25em;

    font-size: 1.25em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
