body {
    display: grid;
    grid-template-rows: 1fr max-content; /* main, footer */
    grid-template-columns: 1fr;
    --hap: 1rem;
}


@media (min-width: 640px) {
    main {
        display: grid;
        grid-template-columns: max-content minmax(200px, 320px) minmax(200px, 320px);
        grid-template-rows: repeat(3, max-content);
        justify-content: center;
        align-items: start;
    }
    header,
    .profile-description {
        grid-column: 2 / span 2
    }
    .profile-image {
        grid-column: 1;
        grid-row: 1 / span 3;
        justify-self: end;
    }
    .u-photo {
        margin-top: 4.5rem;
    }
    .profile-links-ooble {
        grid-column: 2;
    }
    .profile-links-external {
        grid-column: 3;
    }
}

.u-uid {
    font-size: 13px;
    color: var(--muted);
}

.u-photo {
    display: block;
    margin-right: var(--hap);
    margin-left: var(--hap);
    clip-path: url(#userpic-clip);
}

h1 {
    margin: 1em var(--hap) 0.5em;
    font-family: "Margo", serif;
    font-size: 2em;
    color: #55BBFF;
    color: var(--hdg);
}

@media (min-height: 480px) {
    h1 {
        font-size: 4em;
    }
}

p {
    margin: var(--hap);
}
ul {
    margin: 0;
    padding: 0;
}
li {
    margin: var(--hap) var(--hap) var(--hap) 40px;
}

