.loc-list {
    margin: 0 0 10px;
    padding: 0;

    font-weight: 400;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: rgba(128, 128, 128, 0.4);
}

.loc-item {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: rgba(128, 128, 128, 0.4);
}

.loc {
    display: block;
    color: inherit;
    text-decoration: inherit;
}


/* Title and one-line summary */
.loc-p3B .loc,
.loc-p2A .loc {
    height: 50px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

/* Small thumb */
.loc-p4B .loc,
.loc-p3A .loc {
    height: 80px;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
}

/* Large thumb */


@media (min-width: 640px) {
    .loc-p5B .loc,
    .loc-p4A .loc {
        display: flex;
        flex-flow: column;
    }
    .loc-text {
        min-width: 240px;
    }
}
@media (min-width: 1120px) {
}

.loc-img {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    flex-shrink: 0;
}

.loc-text {
    display: block;
    margin: 10px 0;
    max-width: 640px;
}

.loc-hdg,
.loc-quote {
    margin: 0 10px;
    display: block;
}

.loc-title {
    font-weight: 500;
}

.loc:hover .loc-title,
.loc:active .loc-title {
    text-decoration: underline;
}

.loc-p2A .loc-text span,
.loc-p3B .loc-text span {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.loc-p2A .loc-quote,
.loc-p3B .loc-quote {
    font-size: 13px;
}

.loc-url {
    margin: 5px 10px;
    display: block;

    font-size: 13px;
}

.loc-via {
    font-weight: 500;
    font-size: 13px;
    font-style: inherit;
    text-transform: uppercase;
    letter-spacing: 0.08em;
}

.loc-via:before {
    content: "[";
}

.loc-via:after {
    content: "]";
}
