
.tag-list {
    display: contents;
    padding: 0;
    font-size: 13px;
    font-weight: 500;
}

.tag,
.filter-tag {
    display: inline-block;
    padding: 0 5px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.5);
    background-color: rgba(128, 128, 128, 0.2);
    border-radius: 0.5em;
}

.tag-link,
.filter-tag-link {
    text-decoration: inherit;
}

.tag-link:hover,
.tag-link:active {
    text-decoration: underline;
}
