<!DOCTYPE HTML>
{% load i18n %}
{% load static %}
{% load note_lists %}
<html lang="en">
    <head>
        <meta charset=UTF-8>
        <title>{% block title %}Ooble{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            {% include 'notes/inline-styles/base.css' %}
        </style>
        {% block styles %}{% endblock %}
        {% for link in links %}
        <link rel="{{ link.rel }}" href={{ link.href }}{% if link.media_type %} type="{{ link.media_type }}"{% endif %}>
        {% endfor %}
        {% for rep in series.icon_representations %}
        <link rel="icon" href="{{ rep.content.url }}"{% if not forloop.first %} sizes="{{ rep.width }}x{{ rep.height }}"{% endif %} type="{{ rep.media_type }}">
        {% endfor %}
        {% for rep in series.apple_touch_icon_representations %}
        <link rel="apple-touch-icon" href="{{ rep.content.url }}"{% if not forloop.first %} sizes="{{ rep.width }}x{{ rep.height }}"{% endif %} type="{{ rep.media_type }}">
        {% endfor %}
        {% block links %}{% endblock %}
        {% block meta %}{% endblock %}
    </head>
    <body>
        {% if messages %}
        <ul class="message-list">
            {% for message in messages %}
            <li class="message{% if message.tags %} {{ message.tags }}{% endif %}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        {% block content %}
        {% endblock %}

        <footer>
            <a href="{% url 'about:index' %}" class="link">{% blocktrans with series_title=series.title %}About {{ series_title }}{% endblocktrans %}</a>
            · <a href="{% url 'about:page' name='privacy' %}" class="link">{% translate "Privacy policy" %}</a>
{% if request.user.is_authenticated %}

            · <a href="javascript:location.href='{% note_list_url 'new' with_host=True %}?u='+encodeURIComponent(location.href)+'&amp;t='+encodeURIComponent(document.title)+'&amp;t='+encodeURIComponent(window.getSelection().toString())" class="link">{% translate "Bookmarklet" %}</a>
            · <a href="{% url 'logout' %}" class="action-btn">{% translate "Log out" context "button" %}  </a>
{% else %}
            · <a href="{% url 'login' %}?next={% note_list_url %}" class="link">{% translate "Log in" context "button" %}  </a>
{% endif %}
        </footer>

{% block stylesheets %}
        <link rel=stylesheet href="{% static 'notes/vars.css' %}">
        <link rel=stylesheet href="{% static 'notes/base.css' %}">
        <link rel=stylesheet href="{% static 'notes/nav.css' %}">
        <link rel=stylesheet href="{% static 'notes/notes.css' %}">
        <link rel=stylesheet href="{% static 'notes/fonts.css' %}">
{% endblock %}
{% block scripts %}{% endblock %}
    </body>
</html>

