{% extends 'notes/base.html' %}
{% load i18n %}
{% load tag_filters %}
{% load note_lists %}
{% load image_representations %}

{% block title %}Images – #{{ note.pk }} – {{ series.title }}{% endblock %}

{% block styles %}
        <style>
            {% include 'notes/inline-styles/notes.css' %}
            {% include 'notes/inline-styles/form.css' %}
            {% include 'notes/inline-styles/nav.css' %}
            {% include 'notes/inline-styles/locator_image_list.css' %}
        </style>
{% endblock %}

{% block content %}

    <main>
        {% if formset.errors %}
            <p>{{ formset.errors }}</p>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            {{ formset.management_form }}
            <ul class="loc-img-list">
                {% for form in formset %}
                <li class="loc-img">
                    {% if form.errors %}
                        <p>{{ form.errors }}</p>
                    {% endif %}
                    {% with form.instance.image as image %}
                    {{ image|representation:"160x160" }}
                    <p class="loc-img-size">
                        {{ image.width }}×{{ image.height }}
                    </p>
                    <ul class="loc-img-form">
                        {{ form.as_ul }}
                    </ul>
                    <a class="link" href="{% note_url 'locator_image' locator_pk=locator.pk image_pk=image.pk %}">Set focus point</a>
                    {% endwith %}
                </li>
                {% endfor %}
            </ul>

            <div class="form-action-bar">
                <input class="form-action" type="submit" value="{% translate 'Save' context 'button' %}">
                <a href="{% note_url %}" class="link">Cancel</a>
            </div>
        </form>
    </main>
{% endblock %}
