{% extends 'notes/base.html' %}
{% load static %}
{% load note_lists %}
{% load image_representations %}

{% block title %}{{ person.native_name }}{% if series %} ({{ series }}){% endif %}{% endblock %}

{% block meta %}
    {% for property, content in person.open_graph.items %}
        <meta property="{{ property }}" content="{{ content }}">
    {% endfor %}
{% endblock %}

{% block styles %}
        <style>
    {% include 'notes/inline-styles/person.css' %}

@font-face {
    font-family: "Margo";
    font-weight: 400;
    src: url({% static 'notes/Margo_Condensed_v0.1-Medium.woff2' %}) format('woff2');
}

        </style>
{% endblock %}

{% block stylesheets %}
        <link rel=stylesheet href="{% static 'notes/vars.css' %}">
        <link rel=stylesheet href="{% static 'notes/base.css' %}">
        <link rel=stylesheet href="{% static 'notes/nav.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500" rel="stylesheet">
{% endblock %}

{% block content %}
        <main class="h-card">
            <header class="note-list-header">
                <h1 class="p-name">{{ person.native_name }}</h1>
            </header>

    {% if person.image %}
            <div class="profile-image">
                {{ person.image|with_class:"u-photo"|square_representation:160 }}
                <svg width="0" height="0">
                    <clipPath id="userpic-clip" >
                        <path d="M80,0 c80,0 80,0 80,80 s0,80 -80,80 -80,0 -80,-80 0,-80 80,-80z"/>
                    </clipPath>
                </svg>
            </div>
    {% endif %}

                <div  class="profile-description">
                    <p>
                        {{ person.description }}
                    </p>
                    <p>
                        <a href="{% profile_url %}" class="u-url u-uid">{% profile_url %}</a>
                    </p>
                </div>

                <ul class="profile-link profile-links-ooble">
    {% for series in person.series_set.all %}
                    <li><a class="link" href="{% note_list_url series=series with_host=True %}">{{ series.title }}</a></li>
    {% endfor %}
                </ul>

                <ul class="profile-link profile-links-external">
    {% for profile in person.profiles.all %}
                    <li><a rel="me" class="link u-url" href="{{ profile.url }}">{{ profile.label }}</a></li>
    {% endfor %}
                </ul>
        </main>
{% endblock %}
