{% extends 'notes/base.html' %}
{% load i18n %}

{% block title %}{% translate "Please log in" %}{% endblock %}

{% block styles %}
        <style>
            {% include 'notes/inline-styles/base.css' %}
            {% include 'notes/inline-styles/form.css' %}
        </style>
{% endblock %}

{% block content %}

    <main>

        {% if form.errors %}
            <p>{% translate "Your username and password didn’t match. Please try again." %}</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
                <p>
                    {% translate "Your account doesn't have access to this page. To proceed, please login with an account that has access." %}
                </p>
            {% else %}
                <p>{% translate "Please login to see this page." %}</p>
            {% endif %}
        {% endif %}

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">

            <ul class="form-item-list">
                {{ form.as_ul }}
            </ul>

            <div class="form-action-bar">
                <input class="form-action" type="submit" value="Log in">
            </div>
        </form>

        <p>
            <a href="{% url 'password_reset' %}" class="link">{% translate "Lost password?" %}</a>
        </p>

    </main>

{% endblock %}
