{% extends 'notes/base.html' %}
{% load static %}
{% load tag_filters %}

{% block title %}Notes{% endblock %}

{% block styles %}
        <style>
            {% include 'notes/inline-styles/note_list.css' %}
            {% include 'notes/inline-styles/nav.css' %}
            {% include 'notes/inline-styles/subject_list.css' %}
            {% include 'notes/inline-styles/tag_list.css' %}
        </style>
{% endblock %}

{% block content %}
        <header class="note-list-header">
            <h1>Ooble.uk</h1>
            <div class="action-bar">
                {% for series in user.series_set.all %}
                    <a href="{% url 'notes:create' series_name=series.name %}" class="action-btn">Create in {{ series.title }}</a>
                {% endfor %}
            </div>
        </header>

    {% include 'notes/parts/note_list.html' %}

{% endblock %}
