{% extends 'notes/base.html' %}
{% load tag_filters %}

{% block title %}{{ series.title }}{% endblock %}

{% block styles %}
        <style>
            {% include 'notes/inline-styles/note_list.css' %}
            {% include 'notes/inline-styles/subject_list.css' %}
            {% include 'notes/inline-styles/tag_list.css' %}
        </style>
{% endblock %}

{% block content %}
        <header class="note-list-header">
            <h1>
                {{ series.title }}
            </h1>
            {% if can_edit_as %}
                <div class="action-bar">
                    {% for person in can_edit_as %}
                    <a href="{% url 'notes:create' series_name=series.name %}" class="action-btn" title="Create a new note as {{ person.native_name }}">Create</a>
                    {% endfor %}
                </div>
            {% endif %}
        </header>

        {% if series.desc %}
            <p class="series-desc">{{ series.desc }}</p>
        {% endif %}

        {% if tag_filter %}
            <div class="filter">
                {% if tag_filter.included %}
                <div class="filter-wrapper filter-included">
                    <div class="filter-tag-heading">Included tags:</div>
                    <ul class="filter-tag-list">
                        {% for tag_name in tag_filter.included_sorted %}
                        <li class="filter-tag">
                            {% with tf=tag_filter|without_included:tag_name %}
                                {% if tf %}
                            <a class="filter-tag-link" href="{% url 'notes:list' series_name=series.name tags=tf %}">{{ tag_name }}</a>
                                {% else %}
                            <a class="filter-tag-link" href="{% url 'notes:list' series_name=series.name %}">{{ tag_name }}</a>
                                {% endif %}
                            {% endwith %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                {% if tag_filter.excluded %}
                <div class="filter-wrapper filter-excluded">
                    <div class="filter-tag-heading">Excluded tags:</div>
                    <ul class="filter-tag-list">
                        {% for tag_name in tag_filter.excluded_sorted %}
                        <li class="filter-tag">
                            {% with tf=tag_filter|without_excluded:tag_name %}
                                {% if tf %}
                            <a class="filter-tag-link" href="{% url 'notes:list' series_name=series.name tags=tf %}">{{ tag_name }}</a>
                                {% else %}
                            <a class="filter-tag-link" href="{% url 'notes:list' series_name=series.name %}">{{ tag_name }}</a>
                                {% endif %}
                            {% endwith %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
        {% endif %}

        <div class="notes-wrapper">
            {% if draft_list %}
                <ul class="note-list draft-note-list">
                    {% for note in draft_list %}
                        {% include 'notes/parts/note_item.html' %}
                    {% endfor %}
                </ul>
            {% endif %}

            <ul class="note-list">
                {% for note in note_list %}
                    {% include 'notes/parts/note_item.html' %}
                {% endfor %}
            </ul>
        </div>

{% endblock %}
