{% load i18n %}

                    {% for locator in note.subjects.all %}
                        {% if locator.via %}
                            <p class="note-via-chain">({% for via in locator.via_chain %}{% if forloop.first %}{% trans "Via" %}{% else %} {% trans "via" %}{% endif %}
                                <a href="{{ via.url }}" class="link">{% firstof via.title via.author.native_name via.url %}</a>{% endfor %})</p>
                        {% endif %}
                    {% endfor %}
