{% load i18n %}
{% load image_representations %}
{% load note_lists %}

                    {% if note.subjects.count %}
                    <ul class="loc-list note-subjects">
                        {% for locator in note.subjects.all %}
                        <li class="note-subject-item loc-item loc-p{{ puff }}{% if forloop.first %}A{% else %}B{% endif %}">
                            <a class="note-subject loc" href="{{ locator.url }}">
                                {% if puff >= 4 and forloop.first %}
                                    {{ locator.main_image | with_class:"loc-img" | representation:"800x600 min 2:3 max 16:9" }}
                                {% elif puff >= 4 or puff >= 3 and forloop.first %}
                                    {{ locator.main_image | with_class:"loc-img" | square_representation:80 }}
                                {% endif %}
                                <div class="loc-text">
                                    {% if locator.title %}
                                    <span class="loc-hdg">
                                        <b class="loc-title">{{ locator.title }}</b>
                                    </span>
                                    {% elif locator.author %}
                                    <span class="loc-hdg">
                                        <b class="loc-title">{{ locator.author.native_name }}</b>
                                        {% for profile in locator.author.profiles.all|slice:":1" %}
                                            <small class="loc-profile">{{ profile.label }}</small>
                                        {% endfor %}
                                    </span>
                                    {% endif %}
                                    {% if locator.text %}
                                    <span class="loc-quote">
                                        {{ locator.text }}</span>
                                    {% endif %}
                                    {% if not locator.text and not locator.title %}
                                    <span class="loc-url">{{ locator.url }}</span>
                                    {% endif %}
                                </div>
                            </a>
                            {% if puff >= 4 and can_edit_as %}
                            <div class="note-actions">
                                <a class="link" href="{% note_url 'locator_images' locator_pk=locator.pk %}" title="{% translate 'Choose which image is shown' %}">{% translate "Images" context "button" %}  </a>
                                {% if user.is_staff %}
                                    <a class="link" href="{% url 'admin:notes_locator_change' object_id=locator.pk %}" title="{% translate 'Edit this locator in the Admin app' %}">{% translate "Admin" context "button" %}  </a>
                                {% endif %}
                            </div>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
