{% load i18n %}
{% load note_lists %}

{% if note.published %}
    {% note_url 'detail' as detail_href %}
    {% if note.author.slug %}
        {% profile_url note.author as author_href %}
        {% blocktrans with detail_href=detail_href author_href=author_href name=note.author.native_name when_iso=note.published|date:'c' when_date=note.published|date:'P l j F Y e' when_ago=note.published|timesince %}
                <a class="u-url u-uid link" href="{{ detail_href }}">Noted</a> by
                <a href="{{ author_href }}" class="link p-author">{{ name }}</a>
                <time class="dt-published" datetime="{{ when_iso }}" title="{{ when_date }}">{{ when_ago }} ago</time>.
        {% endblocktrans %}
    {% else %}
        {% blocktrans with detail_href=detail_href name=note.author.native_name when_iso=note.published|date:'c' when_date=note.published|date:'P l j F Y e' when_ago=note.published|timesince %}
                <a class="u-url u-uid link" href="{{ detail_href }}">Noted</a> by
                <span class="p-author">{{ name }}</span>
                <time class="dt-published" datetime="{{ when_iso }}" title="{{ when_date }}">{{ when_ago }} ago</time>.
        {% endblocktrans %}
    {% endif %}
{% else %}
                <a class="link" href="{% note_url 'detail' %}"><strong>{% trans "Unpublished" %}</strong></a>
                <a class="link" href="{% note_url 'edit' %}">{% trans "Edit" context "button" %}</a>
{% endif %}
