@font-face {
    font-family: "NaN Jaune Maxi";
    font-weight: 100;
    src: local("NaNJaune-MaxiThin"),
        url(NaNJaune-MaxiThin.woff2) format("woff2"),
        url(NaNJaune-MaxiThin.woff) format("woff");
    font-display: swap;
}

@font-face {
    font-family: "NaN Jaune Maxi";
    font-weight: 900;
    src: local("NaNJaune-MaxiBlack"),
        url(NaNJaune-MaxiBlack.woff2) format("woff2"),
        url(NaNJaune-MaxiBlack.woff) format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Fira Sans";
    font-weight: 400;
    src: local("FiraSans-Regular"),
        url(FiraSans-Regular.woff2) format("woff2"),
        url(FiraSans-Regular.woff) format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Fira Sans";
    font-weight: 500;
    src: local("FiraSans-Medium"),
        url(FiraSans-Medium.woff2) format("woff2"),
        url(FiraSans-Medium.woff) format("woff");
    font-display: swap;
}
