:root {
    font-family: "Fira Sans", "Trebuchet MS", Helvetica Neue, Arial, Helvetica, sans-serif;

    color: rgba(0, 0, 0, 0.85);
    color: var(--ink);
    background-color: #FFF;
    background-color: var(--paper);
}

h1 {
    font-family: "Abril Fatface", serif;
    color: rgba(187, 0, 170, 0.48);
    color: var(--hdg);
}

form {
    background-color: #F7F7F7;
    background-color: var(--ui-bg);
}

label {
    color: rgba(0, 0, 0, 0.5);
    color: var(--muted);
}

input[type=text],
input[type=url],
input[type=password],
textarea {
    color: var(--ink);
    background-color: var(--paper);
    border-style: inset;
    border-color: #DDD;
    border-color: var(--ui-bg);
}

.helptext {
    color: rgba(0, 0, 0, 0.5);
    color: var(--muted);
}

/* Note lists */

.filter-heading {
    color: rgba(0, 0, 0, 0.5);
    color: var(--muted);
}

.filter-hint {
    color: rgba(0, 0, 0, 0.5);
    color: var(--muted);
}

.form-action,
.action-btn {
    color: rgba(0, 0, 0, 0.85);
    color: var(--ink);
    background-color: rgba(153, 204, 255, 0.8);
    background-color: var(--ui2);
    border-color: rgba(153, 204, 255, 0.8);
    border-color: var(--ui2);
    border-radius: 4px;
}

.action-btn:hover,
.action-btm:active {
    background-color: var(--ui);
}

.series-desc {
    color: rgba(0, 0. 0, 0.7);
    color: var(--muted);
}

.note-unpublished {
    background-color: rgba(255, 240, 53, 0.10);
    background-color: var(--hl-paper);
}

/* Tags */

.tag,
.filter-tag {
    color: rgba(0, 0, 0, 0.5);
    color: var(--muted);
    background-color: rgba(128, 128, 128, 0.2);
    background-color: var(--tag);
}

.tag-link {
    color: inherit;
}

.tag:hover,
.tag:active {
    color: rgba(0, 0. 0, 0.85);
    color: var(--link);
    background-color: var(--ui-bg);
}

/* Subject list */

.loc {
    background-color: #FFF;
    background-color: var(--ui-bg2);
}

.loc-item,
.loc-list {
    border-color: rgba(0, 0, 0, 0.3);
    border-color: var(--faint);
}

.loc:hover,
.loc:active {
    background-color: rgba(153, 204, 255, 0.25);
    background-color: var(--ui-bg);
}

/* Note detail */

.note-metadata {
    color: rgba(0, 0, 0, 0.5);
    color: var(--muted);
}

.link:link {
    color: #007FFF;
    color: var(--link);
}

.link:visited {
    color: #003366;
    color: var(--visited);
}

.link:hover,
.link:active {
    color: #007FFF;
    color: var(--link);
    background-color: var(--ui-bg);
}
